# AI 配置 (从 Google AI Studio 获取)
GEMINI_API_KEY = "AIzaSyBRUouf9Cou5OqlNZ7xTho-yF0T9ZzX0u0"
SUPABASE_URL = "https://maijccoaphzuqpebhfil.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1haWpjY29hcGh6dXFwZWJoZmlsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzg1MjgxOSwiZXhwIjoyMDgzNDI4ODE5fQ.lZWT0clkkJB172rZ_XYgBxMrVS9PWbw3zhADh_U8qJw"

SERPER_API_KEY="bae18c95b90cb5e8bf7193d5376c473c3ba27a28"

# Vercel 配置 (用于触发构建，测试阶段可以先填空字符串)
VERCEL_DEPLOY_HOOK=

# 本地测试环境 (v2rayU)
PROXY_URL=http://127.0.0.1:1087

# 线上生产环境 (GitHub Actions / Vercel / 独立服务器)
# 直接注释掉下面这行即可，或者不设置
# PROXY_URL=

NEXT_PUBLIC_GO_REDIRECT_ORIGIN=
AFFILIATE_CJ_SLEEP_AND_BEYOND=
AFFILIATE_CJ_SAATVA=

DEEPSEEK_API_KEY=sk-0c1276f6d7eb443aaf103cabc68d4f4d